*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{

    max-width: 1400px;
    margin: auto;

}

.debug .headbar{

    background-color: blue;
}

.debug .container_header{

    background-color: #f90000;
    margin: 0 30%;
    display: flex;
    
}


.debug #boolean_logo{

    height: 30px;

}

