*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{

    max-width: 1400px;
    margin: auto;
    font-family: 'Fredoka', sans-serif;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.debug{

    background-color: #142df0;

}

.container_header{

    background-color: #ff6900;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    max-width: 1400px;
}


#boolean_logo{

    height: 30px;

}

.icon{
    width: 100px;
    display: flex;
    justify-content: space-around;
}

#content_icon{

    color: white;
}

#people_gender{

    color: white;
}

.debug,.container{

    margin: auto;
    height: 800px;
    display: flex;
    width: 800px;
}

.image_container{

    height: 100px;
    width: 100%;
}

#picture{

    height: 100px;

}