*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{

    max-width: 1400px;
    margin: auto;
    font-family: 'Fredoka', sans-serif;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}


.debug .container_header{

    background-color: #ff6900;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    max-width: 1400px;
}


.debug #boolean_logo{

    height: 30px;

}

.icons{
    width: 100px;
    display: flex;
    justify-content: space-around;
}

#content_icon{

    color: white;
}

#people_gender{

    color: white;
}

